<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base HTML!!!</title>
</head>
<body>

</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        fetch('api/book', {
            method: 'GET',
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
                'X-CSRFToken': '{{ csrf_token }}'
            },
        }).then(async data => {
                const products = await data.json()
            console.log(products)
            }
        )
    })

</script>
</html>