<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}base{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
<div class="mini-h-[3vh]"></div>
<min class="">
    {% block content %}{% endblock %}

</min>
<footer>

</footer>
{% block extra_script %}{% endblock %}
</body>

</html>