{% extends "_base.html" %}
{% load static %}
{% block title %}
    All Products - Online Shop
{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/all_products.css' %}">
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row product-container" id="products-list">
        </div>
    </div>
{% endblock %}


{% block extra_body %}


    <script src="{% static 'js/allProducts/viewAllProducts.js' %}"></script>
     <script>
        let userAuthInputList = '{{ request.user.is_authenticated }}'
        function toggleLike(productId, element) {
            if (userAuthInputList === "True") {
                element.classList.toggle('liked')
                let data = new FormData()
                data.append('products', productId)
                console.log(data)
                fetch(`http://localhost:8001/favorite/api/favorite/create`, {
                    method: 'POST',
                    body: data,
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                })
            } else {
                showAlert('pleas login your account');
            }
        }
    </script>
{% endblock %}