{% extends "_base.html" %}
{% load static %}
{% block title %}
    All Products - Online Shop
{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/all_products.css' %}">
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row product-container" id="products-list">
        </div>
    </div>
{% endblock %}


{% block extra_body %}


    <script src="{% static 'js/allProducts/viewAllProducts.js' %}"></script>

    <script>
    let userAuthInputList = '{{ request.user.is_authenticated }}'
    async function addToCart(productId) {
            if (userAuthInputList==='False') {
        alert('Please log in to add items to your cart.');
        window.location.href = 'http://localhost:8001/account/login/';
        return;
    }

    await fetch(`http://localhost:8001/order/cart/add/${productId}/`, {
        method: 'POST',
        headers: {
            'X-Requested-With': 'XMLHttpRequest',
            'X-CSRFToken': '{{ csrf_token }}'
        }
    })
    .then(async response => await response.json())
    .then(async data => {
        await console.log(data)
        if (data.error) {
                alert(data.error)
            }
            else{
                alert(data.message);
            }

    })
    .catch(async error => console.error('Error adding to cart:', error));
}

        function toggleLike(productId, element) {
            if (userAuthInputList === "True") {
                element.classList.toggle('liked')
                let data = new FormData()
                data.append('products', productId)
                console.log(data)
                fetch(`http://localhost:8001/favorite/api/favorite/create`, {
                    method: 'POST',
                    body: data,
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                })
            } else {
                showAlert('pleas login your account');
                window.location.href = 'http://localhost:8001/account/login/';
            }
        }
    </script>

{% endblock %}