{% extends "_base.html" %}
{% load static %}
{% block title %}
    Category Products - Online Shop
{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/all_products.css' %}">
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row product-container" id="products-list">
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'js/allProducts/viewCoffeeShopProducts.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
    let userAuthInputList = '{{ request.user.is_authenticated }}';

    async function addToCart(productId) {
        if (userAuthInputList === 'False') {
            Swal.fire({
                title: 'Not Logged In',
                text: 'Please log in to add items to your cart.',
                icon: 'warning',
                confirmButtonText: 'Log In',
                showCancelButton: true
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = 'http://localhost:8001/account/login/';
                }
            });
            return;
        }

        await fetch(`http://localhost:8001/order/cart/add/${productId}/`, {
            method: 'POST',
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(async response => await response.json())
        .then(async data => {
            if (data.error) {
                Swal.fire({
                    title: 'Error',
                    text: data.error,
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
            } else {
                Swal.fire({
                    title: 'Success',
                    text: data.message,
                    icon: 'success',
                    confirmButtonText: 'OK'
                });
                updateCartCount();
            }
        })
        .catch(async error => {
            Swal.fire({
                title: 'Error',
                text: 'An error occurred while adding the item to the cart.',
                icon: 'error',
                confirmButtonText: 'OK'
            });
            console.error('Error adding to cart:', error);
        });
    }

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function updateCartCount() {
    fetch('http://localhost:8001/order/api/numberofproduct', {
        method: 'GET',
        headers: {
            'Accept': 'application/json',
            'X-CSRFToken': getCookie('csrftoken'),
            'X-Requested-With': 'XMLHttpRequest'
        },
    })
    .then(response => response.json())
    .then(data => {
        const cartCountElement = document.getElementById('cart-count');

        if (data.item_count !== undefined) {
            cartCountElement.textContent = data.item_count;
        } else {
            cartCountElement.textContent = '0';
        }
    })
    .catch(error => console.error('Error fetching cart count:', error));


    }


    let userAuthInputListCoffeeShop = '{{ request.user.is_authenticated }}';

    function toggleLike(productId, element) {
        if (userAuthInputListCoffeeShop === "True") {
            element.classList.toggle('liked');
            let data = new FormData();
            data.append('products', productId);

            fetch(`http://localhost:8001/favorite/api/favorite/create`, {
                method: 'POST',
                body: data,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            });
        } else {
            Swal.fire({
                title: 'Not Logged In',
                text: 'Please log in to your account.',
                icon: 'warning',
                confirmButtonText: 'Log In',
                showCancelButton: true
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = 'http://localhost:8001/account/login/';
                }
            });
        }
    }
    </script>
{% endblock %}
