<ul>
    {% for item in menu %}
        <li>
            <a href="{{ item.link }}">{{ item.title }}</a>
            {% if item.subcategories %}
                <ul>
                    {% for sub in item.subcategories %}
                        <li>
                            <a href="{{ sub.link }}">{{ sub.title }}</a>
                            {% if sub.subcategories %}
                                <ul>
                                    {% include 'components/subcategories.html' with subcategories=sub.subcategories %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>
