{% extends '_base.html' %}
{% load static %}

{% block title %}
    Order List
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/AddCategoryAdmin.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.12/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            background-color: #f9fafb;
        }

        .table-container {
            background: white;
            border-radius: 0.5rem;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        .avatar img {
            transition: transform 0.3s;
        }

        .avatar img:hover {
            transform: scale(1.05);
        }

        .btn {
            margin-top: 1rem;
        }

        .form-container {
            background-color: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            max-width: 500px;
            margin: 20px auto;
        }

        .form-container.hidden {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}

    <div id="button_view" class="mx-a flex flex-row justify-center content-center  my-5">
        <button class="btn btn-outline mx-3 " onclick="orderView()">List Order</button>
        <button class="btn btn-outline mx-3 btn-primary" onclick="comments_accepted()">Comment</button>
        <button class="btn btn-outline mx-3 btn-secondary" onclick="productDetail()">Product</button>
        <button class="btn btn-outline mx-3 btn-accent" onclick="addProductButtonView()">ADD Product</button>
    </div>

    {#order in product#}
    <div id="button_product_detail_view" class="mx-a  my-5 !hidden">
        <div class="grid grid-cols-4 my-5 ">
            <button class="btn btn-outline mx-3 " onclick="FuTimeLine(`dinner`)">Dinner</button>
            <button class="btn btn-outline mx-3 btn-primary" onclick="FuTimeLine(`breakfast`)">Breakfast</button>
            <button class="btn btn-outline mx-3 btn-secondary" onclick="FuTimeLine(`lunch`)">Lunch</button>
            <button class="btn btn-outline mx-3" onclick="coffeeShop()">Is Coffee Shop</button>
        </div>


        <div id="category_menu" class="mx-a flex flex-row justify-center content-center  my-5">

        </div>
        <div class="max-w-[80vw] mx-auto mb-5">
            <div class="overflow-x-auto">
                <table class="table w-full table-auto table-container">
                    <thead class="bg-gray-200">
                    <tr>
                        <th class="w-10">
                            <label>

                            </label>
                        </th>
                        <th class="text-left">Name</th>
                        <th class="text-left">Detail</th>
                        <th class="text-left">Time Line</th>
                        <th class="w-10"></th>
                    </tr>
                    </thead>
                    <tbody id="tbody_items2">
                    <!-- Rows will be populated here dynamically -->
                    </tbody>
                    <tfoot>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Detail</th>
                        <th>Time Line</th>
                        <th></th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    {#product all in button product#}
    <div class="max-w-[80vw] mx-auto mb-5" id="orderView">
        <div class="overflow-x-auto">
            <table class="table w-full table-auto table-container">
                <thead class="bg-gray-200">
                <tr>
                    <th class="w-10">
                        <label>

                        </label>
                    </th>
                    <th class="text-left">Name</th>
                    <th class="text-left">Detail</th>
                    <th class="text-left">Quantity</th>
                    <th class="w-10"></th>
                </tr>
                </thead>
                <tbody id="tbody_items">
                <!-- Rows will be populated here dynamically -->
                </tbody>
                <tfoot>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Detail</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    {#comment accepted#}

    <div class="max-w-[80vw] mx-auto mb-5 !hidden" id="comment_accepted">
        <table class="table">
            <!-- head -->
            <thead class="bg-gray-200">
            <tr>
                <th>
                    user
                </th>
                <th>comment</th>
                <th>product</th>
                <th> parent comment</th>


            </tr>
            </thead>
            <tbody id="tbody_comment">
            <!-- row 1 -->

            </tbody>
            <!-- foot -->
            <tfoot>
            <tr>
                <th>
                    user
                </th>
                <th>comment</th>
                <th>product</th>
                <th> parent comment</th>
            </tr>
            </tfoot>
        </table>
        <meta name="csrf-token" content="{{ csrf_token }}" class="!hidden">
    </div>



    {# add product#}
    {# add  in product#}
    <div id="add_product_in_admin_panel_button" class="mx-a  my-5 !hidden">
        <div class="grid grid-cols-4 my-5 ">
            <button class="btn btn-outline mx-3" onclick="showAddCategoryForm()">Add Category</button>
            <button class="btn btn-outline mx-3 btn-primary" onclick="addProductForm()">Add Product</button>
            <button class="btn btn-outline mx-3 btn-secondary" onclick="addProductImagesForm()">Add Product Images
            </button>
            <button class="btn btn-outline mx-3" onclick="addIngredientsForm()">Add Ingredients</button>
        </div>


        {# add  in product#}


        <div id="add_category_form" class="form-container !hidden">
            <form id="categoryForm" class="flex flex-col items-center">
                <div class="form-group w-full mb-6">
                    <label for="title" class="text-lg">Category Name:</label>
                    <input type="text" id="title" name="title" placeholder="Category Name" required
                           class="w-full mb-6 mt-3 h-10 border-2 text-sm">
                </div>
                <div class="form-group w-full mb-6">
                    <label for="parent" class="text-lg">Parent Category:</label>
                    <select id="parent" name="parent" class="w-full mb-10 mt-3 h-10 border-2 text-sm">
                        <option value="" class="text-sm">No Parent</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-success mt-4 w-20">Submit</button>
            </form>
        </div>

        <div id="add_product_form" class="form-container !hidden">
            <form id="productForm" class="flex flex-col items-center">

                <div class="form-group w-full mb-6">
                    <label for="title_addProduct" class="text-lg">Product Title:</label>
                    <input type="text" id="title_addProduct" name="title" placeholder="Product Title" required
                           class="w-full mb-6 mt-3 h-10 border-2 text-sm">
                </div>

                <div class="form-group w-full mb-6">
                    <label for="off" class="text-lg">Discount Percentage:</label>
                    <input type="number" id="off" name="off" placeholder="Discount Percentage"
                           class="w-full mb-6 mt-3 h-10 border-2 text-sm">
                </div>

                <div class="form-group w-full mb-6">
                    <label for="old_price" class="text-lg">Old Price:</label>
                    <input type="number" id="old_price" name="old_price" placeholder="Old Price"
                           class="w-full mb-6 mt-3 h-10 border-2 text-sm">
                </div>

                <div class="form-group w-full mb-6">
                    <label for="quantity" class="text-lg">Quantity:</label>
                    <input type="number" id="quantity" name="quantity" placeholder="Quantity"
                           class="w-full mb-6 mt-3 h-10 border-2 text-sm">
                </div>

                <div class="form-group w-full mb-6">
                    <label for="serial_number" class="text-lg">Serial Number:</label>
                    <input type="text" id="serial_number" name="serial_number" placeholder="Serial Number"
                           class="w-full mb-6 mt-3 h-10 border-2 text-sm">
                </div>

                <div class="form-group w-full mb-6">
                    <label for="description" class="text-lg">Description:</label>
                    <textarea id="description" name="description" placeholder="Product Description" rows="4"
                              class="w-full mb-6 mt-3 border-2 text-sm"></textarea>
                </div>

                <div class="form-group w-full mb-6">
                    <label for="is_coffee_shop" class="text-lg">Is Coffee Shop Product:</label>

                    {#                <input type="checkbox" id="is_coffee_shop" name="is_coffee_shop" class="w-full mb-6 mt-3 h-10 border-2 text-sm">#}
                    <input type="checkbox" id="is_coffee_shop" name="is_coffee_shop" value="true" checked>
                </div>

                <div class="form-group w-full mb-6">
                    <label for="timeline" class="text-lg">Timeline:</label>
                    <select id="timeline" name="timeline" class="w-full mb-6 mt-3 h-10 border-2 text-sm">
                        <option selected></option>
                        <option value="breakfast">Breakfast</option>
                        <option value="lunch">Lunch</option>
                        <option value="dinner">Dinner</option>
                    </select>
                </div>

                <div class="form-group w-full mb-6">
                    <label for="category" class="text-lg">Category:</label>
                    <select id="category" name="category" class="w-full mb-6 mt-3 h-10 border-2 text-sm">
                        <option value="" class="text-sm">Select Category</option>
                        <!-- Add category options here -->
                    </select>
                </div>

                <button type="submit" class="btn btn-success mt-4 w-20">Submit</button>
            </form>
        </div>

        <div id="add_ingredients_form" class="form-container !hidden">
            <form id="ingredientsForm" class="flex flex-col items-center">
                <div class="form-group w-full mb-6">
                    <label for="title_inp" class="text-lg">Ingredients Name:</label>
                    <input type="text" id="title_inp" name="title" placeholder="Ingredients Name" required
                           class="w-full mb-6 mt-3 h-10 border-2 text-sm">
                </div>
                <div class="form-group w-full mb-6">
                    <label for="products_drop" class="text-lg">Products:</label>
                    <select id="products_drop" multiple="" name="products"
                            class="w-full mb-10 mt-3 h-10 border-2 text-lg h-52">
                        <option value="" class="text-sm   ">-----</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-success mt-4 w-20">Submit</button>
            </form>
        </div>
        <div id="add_images_form" class="form-container !hidden">
            <form id="imagesForm" class="flex flex-col items-center">
                <div class="form-group w-full mb-6">
                    <label for="alt" class="text-lg"> alt</label>
                    <input type="text" id="alt" name="alt" placeholder="alt"
                           class="w-full mb-6 mt-3 h-10 border-2 text-sm">
                </div>
                <div class="form-group w-full mb-6">
                    <label for="image" class="text-lg"> image</label>
                    <input type="file" id="image" name="image"
                           class="w-full mb-6 mt-3 h-10 border-2 text-sm" value accept="product_images/*">
                </div>
                <div class="form-group w-full mb-6">
                    <label for="products_drops" class="text-lg">Product:</label>
                    <select id="products_drops" name="product" class="w-full mb-10 mt-3 h-10 border-2 text-lg">

                    </select>
                </div>
                <div class="form-group w-full mb-6">
                    <label for="is_cover" class="text-lg">Is Cover:</label>
                    <input type="checkbox" id="is_cover" name="is_cover" value="true" checked>
                </div>
                <button type="submit" class="btn btn-success mt-4 w-20">Submit</button>
            </form>
        </div>
    </div>

{% endblock %}

{% block extra_body %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script src="{% static 'js/order/ordrItemsStaff.js' %}"></script>
    <script src="{% static 'js/order/buttonProductAll.js' %}"></script>
    <script src="{% static 'js/order/commentsViewAdmin.js' %}"></script>
    <script src="{% static 'js/order/allproductinViewAdmin.js' %}"></script>
    <script src="{% static 'js/Admin_Panel_Add_Product/buttonViewAddProduct.js' %}"></script>
    <script src="{% static 'js/Admin_Panel_Add_Product/AddCategory.js' %}"></script>
    <script src="{% static 'js/Admin_Panel_Add_Product/AddIngredients.js' %}"></script>
    <script src="{% static 'js/Admin_Panel_Add_Product/addProduct.js' %}"></script>
    <script src="{% static 'js/Admin_Panel_Add_Product/addminproductimage.js' %}"></script>
    <script>
        let button_product_detail_view = document.querySelector('#button_product_detail_view');
        let orderViews = document.querySelector('#orderView');
        let category_menu = document.querySelector('#category_menu');
        let tbody_items2 = document.querySelector('#tbody_items2');
        let comment_accepted = document.querySelector('#comment_accepted');
        let tbody_comment = document.querySelector('#tbody_comment');
        let add_product_in_admin_panel_button = document.querySelector('#add_product_in_admin_panel_button');
        let add_category_form = document.getElementById('add_category_form');
        const csrfTokens = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

        const add_product_form = document.getElementById('add_product_form')
        const add_ingredients_form = document.getElementById('add_ingredients_form')
        const add_images_form = document.getElementById('add_images_form')
        let FlagId = 0;
        document.addEventListener('DOMContentLoaded', () => {
            orderView();
        });

        function setes() {
            if (FlagId === 0) {
                orderView();
            }
        }

        setInterval(setes, 3000);

        function showAddCategoryForm() {
            add_ingredients_form.classList.add('!hidden');
            add_category_form.classList.remove('!hidden');
            add_product_form.classList.add('!hidden');
            fetchCategories();
        }

        function addProductForm() {
            add_ingredients_form.classList.add('!hidden');
            add_product_form.classList.remove('!hidden');
            add_category_form.classList.add('!hidden');
            addProducts();
        }

        function addProductImagesForm() {
            add_images_form.classList.remove('!hidden');
            fetchImages();
        }

        function addIngredientsForm() {
            add_ingredients_form.classList.remove('!hidden');
            add_product_form.classList.add('!hidden');
            add_category_form.classList.add('!hidden');
            fetchIngredients();
        }


    </script>
{% endblock %}
